@import "~bootstrap/dist/css/bootstrap.css";

.group-photo{
    width: 150px;
    height: auto;
}

.container{
    height: auto;
}

.group-profile{
    padding: 10px;
    height: auto;
    margin: 0;
}

.nav-item{
    padding: 10px;
    border-color: blue;
    border-radius: 10%;
}

li > a{
    text-decoration: none;
}

a:hover{
    text-decoration: none;
    cursor: pointer;
}

.tab-pane{
    padding: 10px 0;
}

table{
    margin: 20px 0;
}

.fa-trash-alt{
    color: rgb(2, 1, 1);
    font-size: 1.3em;
}

.trash-icon {
    padding-top: 40%;
}

.table {
    overflow-y: visible !important;
    vertical-align: middle;
}

.user-photo{
    width: 60px;
    height: auto;
    margin-right: 5px;
}

button, div.dropdown-menu{
    width: 100px;
}

.dashboard{
    margin: 5px;
    width: 150px;
    height: 100px;
    white-space: normal;
}

i{
    margin-left: 10px;
}

.table > tbody > tr > td {
    vertical-align: middle;
}