<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ"
  crossorigin="anonymous">
<div class="container w-100">
  <div class="w-100 group-profile align-items-center">
    <img src="https://image.freepik.com/free-icon/group_318-27951.jpg" class="mx-auto d-block group-photo">
    <h1 class="text-center group-name">{{ model.selectedGroup.name }}</h1>
  </div>

  <ngb-tabset>
    <ngb-tab title="Team Members">
      <ng-template ngbTabContent>
        <div class="form-group row invite inline-block" style="margin: 10px; float: right;">
          <label for="typeahead-basic" class="mt-3 align-middle text-center" style="vertical-align: center; line-height: 32px;">Invite
            a member:</label>
          <input id="typeahead-basic" type="text" class="form-control m-3" style="width: 250px;" name="searchInput" 
            [(ngModel)]="searchInput" [ngbTypeahead]="search"/>
          <button href="#" class="btn btn-primary mt-3 mb-3" (click)="inviteButtonClick()">Invite</button>
        </div>

        <table class="table table-hover">
          <thead class="thead-light">
            <tr>
              <th scope="col" class="w-75">Member</th>
              <th scope="col" class="w-25">Permission</th>
            </tr>
          </thead>
          <tbody class=".align-middle">
            <tr *ngFor="let member of model.selectedGroup.members['admin']">
              <td class="h5">
                <img src="https://openclipart.org/download/247320/abstract-user-flat-4.svg" class="user-photo">
                {{ member.firstName + ' ' + member.lastName }}</td>
              <td>
                <div ngbDropdown class="d-inline-block">
                  <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Admin</button>
                  <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                    <button class="dropdown-item">User</button>
                    <button class="dropdown-item">Admin</button>
                  </div>
                  <i class="fa fa-trash-alt"></i>
                </div>
              </td>
            </tr>
            <tr *ngFor="let member of model.selectedGroup.members['member']">
              <td class="h5">
                <img src="https://openclipart.org/download/247320/abstract-user-flat-4.svg" class="user-photo">
                {{ member.firstName + ' ' + member.lastName }}</td>
              <td>
                <div ngbDropdown class="d-inline-block">
                  <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>User</button>
                  <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                    <button class="dropdown-item">User</button>
                    <button class="dropdown-item">Admin</button>
                  </div>
                  <i class="fa fa-trash-alt"></i>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </ng-template>
    </ngb-tab>
    <ngb-tab title="Dashboards">
      <ng-template ngbTabContent>
        <div class="w-100 m-3 dashboards">
          <div style="display: inline-block;" *ngFor="let dashboard of model.selectedGroup.dashboards">
            <button type="button" class="btn btn-primary dashboard" (click)="dashboardButtonClick(dashboard.key)">{{
              dashboard.name }}</button>
          </div>
          <button type="button" class="btn btn-secondary dashboard" (click)="newDashboardButtonClick(dashboardModal)">Create
            new board</button>
        </div>
      </ng-template>
    </ngb-tab>
  </ngb-tabset>

</div>

<!-- Modal for new dashboard-->
<ng-template #dashboardModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Add New Board</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div>
      <form class="form-group">
        <input type="text" id="newBoardName" class="form-control" name="newBoardName" [(ngModel)]="newDashboardName"
          placeholder="Add New Board Title" required autofocus>
      </form>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="createDashboardButtonClick()">Create</button>
  </div>
</ng-template>