/* ------------------DASHBOARD GENERAL---------------------- */

.dashboard-container {
  width: 100%;
  margin-left: 5px;
  margin-right: 5px;
}

.group-info {
  padding-left: 5px;
  padding-right: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.group-info * {
  display: inline;
  margin-right: 30px;
  font-size: 17px;
}

.project-name {
  color: black;
}

.project-name:hover {
  background-color: lightgray;
  text-decoration: none;
}

.small-initials {
  background-color: lightgray;
}

.small-initials p {
  padding: 0;
  margin: 0;
  font-size: 17px;
  font-weight: 500;
}

.dashboard {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
}

/* ------------------TABLES---------------------- */

.table {
  display: inline-flex;
  flex-direction: column;
  max-height: 600px;
  border-radius: 5px;
  margin-right: 20px;
  width: 250px;
  background-color: #e2e4e6;
}

.table-name {
  display: inline-block;
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.dropdown-button {
  height: 2rem;
  font-size: 2rem;
  padding: 0;
  margin-right: 8px;
  background-color: transparent;
  color: #007bff;
  border-color: transparent;
}

.dropdown-button:hover {
  background-color: transparent;
  color: white;
}

.dropdown-button:active {
  box-shadow: none;
  color: #007bff;
  background-color: transparent;
  border-color: transparent;
}

.dropdown-button:focus {
  background-color: transparent;
  border-color: transparent;
  box-shadow: none;
}

/* ------------------TASKS---------------------- */

.task-container {
  list-style: none;
  overflow-y: auto;
  min-height: 15px;
  margin-bottom: 0;
  padding: 0;
}

.task {
  background-color: white;
  border-radius: 5px;
  min-height: 65px;
  padding-left: 5px;
  margin-left: 8px;
  margin-right: 8px;
  margin-bottom: 7px;
}

.task:hover {
  background-color: rgba(255, 255, 255, 0.582);
}

.task-name {
  margin: 0;
  text-overflow: clip;
  display: block;
  width: 100%;
}

.task-input {
  margin-right: 8px;
  margin-left: 8px;
  margin-bottom: 8px;
  margin-top: 0;
}

.add-task-btn {
  background-color: #007bff;
  border-color: transparent;
  min-height: 30px;
  padding: 0;
}

.add-table-btn {
  border-color: transparent;
  background-color: #007bff;
}

/* -------------------MODAL--------------------- */

.label-title h5 {
  margin: 0;
}

.label-title {
  margin-bottom: 5px;
}

.modal-division-container {
  margin-bottom: 15px;
}

.form-control {
  max-height: 80px;
}

/* ****MEMBER INITIALS**** */

.initials-container {
  position: relative;
  display: inline-block;
  background-color: darkslategray;
  width: 34px;
  height: 34px;
  margin-right: 5px;
}

.initials-container a {
  position: absolute;
  color: white;   
  margin-left: 19%;            
  top: 50%;                         
  transform: translate(0, -50%);
}

.member-initials {
  width: 34px;
}

.member-initials:hover {
  text-decoration: none;
}

.member-delete {
  text-decoration: none;
  text-align: center;
  font-size: 20px;
  width: 100%;
  margin: 0;
  padding: 0;
}

.overlay a {
  width: 100%;
  margin: 0;
  padding: 0;
}

.overlay a:hover {
  text-decoration: none;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
}

.initials-container:hover .overlay {
  opacity: 1;
}

.add-member-container {
  display: inline-block;
  position: absolute;
}

.add-member {
  background-color: lightgray;
}

.add-member:hover {
  background-color: gray;
}

.add-member-btn {
  font-size: 30px;
  color: white;
  font-weight: 500;
  padding-bottom: 5px;
}

.add-member-btn::after {
  display: none;
}

.members-dropdown {
  margin-top: -7px;
}

/* ****TASK DESCRIPTION**** */

.task-description:hover {
  background-color: rgba(161, 160, 160, 0.459);
}

.description-btn-container {
  margin-top: 6px;
}

.close-description-btn {
  position: absolute;
  float: none;
  margin-left: 10px;
  font-size: 2rem;
  font-weight: 600;
}

/* ****TASK COMMENT TEXTBOX**** */

.comment-textbox:focus {
  outline: none;
  box-shadow: none;
  border: 1px solid #ced4da;
}

.comment-btn-container {
  margin-top: -10px;
}

.add-comment-btn:disabled {
  background-color: lightgray;
  border-color: lightgray;
}

/* ****TASK MEMBERS COMMENTS**** */

.comment-container {
  margin-bottom: 10px;
}

.comment-data-container {
  display: flex;
}

.member-comment {
  display: inline-block;
  flex-grow: 1;
  word-break: break-all;
}

.member-comment p {
  margin-bottom: 0;
}

/* ------------------EFFECTS---------------------- */

/* Shadow */
.hvr-shadow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow;
  transition-property: box-shadow;
}
.hvr-shadow:focus, .hvr-shadow:active {
  box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
}

/* Back Pulse */
@-webkit-keyframes hvr-back-pulse {
  50% {
    background-color: rgba(32, 152, 209, 0.75);
  }
}
@keyframes hvr-back-pulse {
  50% {
    background-color: rgba(32, 152, 209, 0.75);
  }
}
.hvr-back-pulse {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  overflow: hidden;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
}
.hvr-back-pulse:hover, .hvr-back-pulse:focus, .hvr-back-pulse:active {
  -webkit-animation-name: hvr-back-pulse;
  animation-name: hvr-back-pulse;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  background-color: #2098D1;
  background-color: #2098d1;
  color: white;
}

/* Glow */
.hvr-glow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow;
  transition-property: box-shadow;
}
.hvr-glow:hover {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
}

/* in-flight clone */
.gu-mirror {
  position: fixed !important;
  margin: 0 !important;
  z-index: 9999 !important;
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
  pointer-events: none;
}
/* high-performance display:none; helper */
.gu-hide {
  left: -9999px !important;
}
/* added to mirrorContainer (default = body) while dragging */
.gu-unselectable {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}
/* added to the source element while its mirror is dragged */
.gu-transit {
  opacity: 0.2;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  filter: alpha(opacity=20);
}