<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ"
  crossorigin="anonymous">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<div class="dashboard-container">
  <div class="group-info">
    <p>{{ model.selectedDashboard.name }}</p>   
    <div>
      <a href="javascript:void(0);" class="project-name" routerLinkDisabled (click)="groupNameButtonClick()">{{  model.selectedGroup.name }}</a>
    </div>
  </div>

  <div class="dashboard">
    <div dragula="COLUMNS" [(dragulaModel)]="model.selectedDashboard.columns">
      <div class="table" *ngFor="let column of model.selectedDashboard.columns;" id="column.key">
        <span class="group-handle">
          <p class="table-name" *ngIf="!isEditTableTextBoxEnabled[column.key]"><strong>{{ column.name }}</strong></p>
          <input class="table-name" type="text" name="column.name" [(ngModel)]="columnTempName" *ngIf="isEditTableTextBoxEnabled[column.key]"/>
          <div ngbDropdown #myDrop="ngbDropdown" class="d-inline-block" style="float: right;">
            <button class="btn dropdown-button" id="dropdownBasic1" ngbDropdownToggle></button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
              <button class="dropdown-item" (click)="editTableButtonClick(column.key, column.name)">{{ editText }}</button>
              <button class="dropdown-item" *ngIf="isEditTableTextBoxEnabled[column.key]" (click)="cancelEditColumnButtonClick(column.key)">Cancel</button>
              <button class="dropdown-item" (click)="deleteTableButtonClick(column.key)">Delete</button>
            </div>
          </div>
        </span>
        <ul dragula="ITEMS" [(dragulaModel)]="column.tasks" class="task-container" id="{{ column.key }}" [attr.item-id]="column.key">
          <li *ngFor="let task of column.tasks" class="task" (click)="openTaskModal(content, task.key)">
            <p class="task-name">{{ task.content }}</p>
          </li>
        </ul>
        <input type="text" autocomplete="off" class="task-input" name="taskName" [(ngModel)]="taskName" autofocus *ngIf="addTaskEnabler[column.key]">
        <a href="javascript:void(0);" routerLinkDisabled class="btn btn-secondary btn-lg add-task-btn hvr-glow" (click)="addTaskButtonClick(column.key)"
          role="button" aria-disabled="true">add new task</a>
      </div>
    </div>
    <div>
      <a href="javascript:void(0);" routerLinkDisabled class="btn btn-secondary btn-lg add-table-btn hvr-glow" (click)="addTableButtonClick()"
        role="button" aria-disabled="true">+ add new table</a>
    </div>
  </div>
</div>

<!-- MODAL -->
<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{ currentTask.content }}</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">

        <div class="modal-division-container">
          <label class="label-title" for="">
            <h5>Members</h5>
          </label>
          <div>
            <div class="initials-container rounded-circle">
              <a href="javascript:void(0);" class="member-initials">DR</a>
              <div class="overlay rounded-circle">
                <a href="javascript:void(0);">
                  <p class="member-delete">X</p>
                </a>
              </div>
            </div>
            <div ngbDropdown #myDrop="ngbDropdown" class="add-member-container">
              <div class="initials-container rounded-circle add-member">
                <a href="javascript:void(0);" id="dropdownBasic2" class="member-initials add-member-btn"
                  ngbDropdownToggle>
                  +
                </a>
              </div>
              <div ngbDropdownMenu aria-labelledby="dropdownBasic2" class="members-dropdown">
                <!-- <button class="dropdown-item">Genesis Yau</button> -->
                <button class="dropdown-item">David Rosas</button>
              </div>
            </div>
          </div>
        </div>

        <!-- <div class="modal-division-container">
          <label class="label-title" for="dueDate">
            <h5>Due Date</h5>
          </label>
          <div class="input-group">
            <input id="dueDate" class="form-control" placeholder="yyyy-mm-dd" name="dp" ngbDatepicker #dp="ngbDatepicker">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary calendar" (click)="dp.toggle()" type="button"></button>
            </div>
          </div>
        </div> -->
      </div>

      <div class="modal-division-container">
        <label class="label-title" for="description">
          <h5>Description</h5>
        </label>
        <div class="form-group">
          <div (click)="descriptionTextBoxClick()">
            <textarea class="form-control" [class.task-description]="!isDescriptionTextBoxEnabled" rows="5" id="description"
              placeholder="Add a description..." [disabled]="!isDescriptionTextBoxEnabled" name="currentTask.description" [(ngModel)]="currentTask.description"></textarea>
          </div>
          <div *ngIf="isDescriptionTextBoxEnabled" class="description-btn-container">
            <button type="button" class="btn btn-success" (click)="saveDescriptionClick()">Save</button>
            <button type="button" class="close close-description-btn" aria-label="Close" (click)="closeDescriptionClick()">&times;</button>
          </div>
        </div>
      </div>

      <div class="modal-division-container">
        <label class="label-title" for="commentTextbox">
          <h5>Add Comment</h5>
        </label>
        <div class="form-group">
          <textarea class="form-control comment-textbox hvr-shadow" rows="5" id="commentTextbox" placeholder="Write a comment..."
            name="taskComment" [(ngModel)]="taskComment" (ngModelChange)="commentTextBoxChange()"></textarea>
        </div>
        <div class="comment-btn-container">
          <button type="button" class="btn btn-success add-comment-btn" [disabled]="!isAddCommentButtonEnabled" (click)="addCommentButtonClick()">Add</button>
        </div>
      </div>

      <div class="modal-division-container">
        <label class="label-title" for="comment">
          <h5>Members Comments</h5>
        </label>
        <div class="comments-container">
          <div class="comment-container" *ngFor="let comment of currentTask.comments">
            <div class="comment-data-container">
              <div class="initials-container rounded-circle">
                <a href="javascript:void(0);" class="member-initials" disabled>{{ comment.userFirstName[0] + comment.userLastName[0] }}</a>
              </div> 
              <div class="member-comment">
                <p class="member-name"><strong>{{ comment.userFirstName + ' ' + comment.userLastName }}</strong></p>
                <p class="comment">{{ comment.content }}</p>
              </div>
              <div>
                <button type="button" class="close" aria-label="Close" (click)="deleteCommentButtonClick()">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
            </div>
            <hr class="col-xs-12">
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Exit</button>
  </div>
</ng-template>