.page-container {
    width: auto;
    height: auto;
}

.sidebar{
    width: 20%;
    background-color: #dedede;
}

#personalBoardsButton {
    padding: 100px 300px;
    font-size: 100px;
}

ul {
    list-style-type: square;
}

.button {
  width: 150px;
  height: 100px;
  /*background-color: rgba(9,45,66,.13); */
  border: none;
  /*color: rgb(155, 142, 142);*/
  /* padding: 45px 60px; */
  text-align: center;
  text-decoration: none;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.personal-board-btn:hover {
    background-color: #adadad;
    color: white;
}

.group-board-btn:hover {
    background-color: #adadad;
    color: white;
}

#interval {
    padding:15px 100%;
}